Repository cc-heart-dev/utils-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write, stylelint --fix

chore: release version v2.0.5
  package.json
Due: none

feat: add dom api
  __test__/lib/dom.test.ts
  src/lib/css.ts
  src/lib/dom.ts
Due: prettier --write ., eslint --fix

chore: release version 2.0.6
  package.json
Due: none

chore: release version 2.0.7
  package.json
Due: none

chore: release version 2.0.8
  package.json
Due: none

chore: release version 2.0.9
  package.json
Due: none

chore[playground]: init commit
  playground/.gitignore
  playground/README.md
  playground/app.vue
  playground/assets/index.scss
  playground/components/monaco-editor/helper.ts
  playground/components/monaco-editor/index.ts
  playground/components/monaco-editor/monaco-editor-components.vue
  playground/layouts/default.vue
  playground/nuxt.config.ts
  playground/package.json
  playground/pnpm-lock.yaml
  playground/public/favicon.ico
  playground/server/tsconfig.json
  playground/tsconfig.json
  playground/unocss.config.ts
  playground/utils/compile.ts
Due: prettier --write ., eslint --fix, prettier --write

perf: @import replace to @use
  assets/scss/mixins.scss
Due: none

chore: release version 2.1.0
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

feat: add globalErrorHandler
  src/lib/shard.ts
Due: prettier --write ., eslint --fix

chore: update README
  NEW_CHANGELOG.md
  README.md
Due: prettier --write

style: code format
  src/utils/request.ts
Due: prettier --write ., eslint --fix

feat: add af
  __test__/lib/raf.test.ts
  src/lib/raf.ts
Due: prettier --write ., eslint --fix

feat: add raf func
  __test__/lib/raf.test.ts
  src/lib/raf.ts
Due: prettier --write ., eslint --fix

feat: remove dirty dts
  src/types/global.d.ts
Due: prettier --write ., eslint --fix

feat: remove dirty code
  .gitignore
  .vscode/launch.json
  __test__/lib/formData.test.ts
  example/index.html
  example/main.js
  example/package.json
  example/pnpm-lock.yaml
  playground/.gitignore
  playground/README.md
  playground/app.vue
  playground/assets/index.scss
  playground/components/monaco-editor/helper.ts
  playground/components/monaco-editor/index.ts
  playground/components/monaco-editor/monaco-editor-components.vue
  playground/layouts/default.vue
  playground/nuxt.config.ts
  playground/package.json
  playground/pnpm-lock.yaml
  playground/public/favicon.ico
  playground/server/tsconfig.json
  playground/tsconfig.json
  playground/unocss.config.ts
  playground/utils/compile.ts
  src/lib/formData.ts
Due: prettier --write ., eslint --fix, prettier --write

fix: typo
  src/lib/shard.ts
Due: prettier --write ., eslint --fix

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
  stylelint --fix: any of: **/*.{less,css}
