Repository cc-heart-dev/utils-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write, stylelint --fix

feat: add cjs modules
  dist/cjs/index.cjs
  dist/esm/index.js
  package.json
  rollup.config.js
  tsconfig.build.json
Due: prettier --write ., eslint --fix

0.0.15
  package.json
Due: none

chore: add patch request
  dist/cjs/index.cjs
  dist/esm/index.js
  dist/types/src/lib/request.d.ts
  dist/types/src/utils/request.d.ts
  package.json
  src/lib/request.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

0.0.16
  package.json
Due: none

chore: add CHANGELOG
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: optimize build
  .prettierignore
  .prettierrc
  .vscode/launch.json
  CHANGELOG.md
  README.md
  __test__/lib/dom.test.ts
  dist/cjs/index.cjs
  dist/cjs/src/lib/dom.cjs
  dist/cjs/src/lib/navigator.cjs
  dist/cjs/src/lib/request.cjs
  dist/cjs/src/lib/shard.cjs
  dist/cjs/src/utils/request.cjs
  dist/cjs/src/utils/shard.cjs
  dist/esm/index.js
  dist/esm/src/lib/dom.js
  dist/esm/src/lib/navigator.js
  dist/esm/src/lib/request.js
  dist/esm/src/lib/shard.js
  dist/esm/src/utils/request.js
  dist/esm/src/utils/shard.js
  dist/types/index.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/lib/shard.d.ts
  dist/types/src/utils/request.d.ts
  example/index.html
  example/main.js
  index.ts
  jest.config.mjs
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/lib/dom.ts
  src/lib/navigator.ts
  src/lib/request.ts
  src/lib/shard.ts
  src/types/helper.ts
  src/utils/request.ts
  src/utils/shard.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write ., eslint --fix, prettier --write

1.0.0
  package.json
Due: none

chore: add chanlog scripts
  CHANGELOG.md
  package.json
Due: prettier --write

feat: resInterceptor support get request params
  dist/cjs/src/utils/request.cjs
  dist/esm/src/utils/request.js
  src/utils/request.ts
Due: prettier --write ., eslint --fix

1.0.1
  package.json
Due: none

fix: fix response interceptor params
  dist/cjs/src/utils/request.cjs
  dist/esm/src/utils/request.js
  dist/types/src/utils/request.d.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

1.0.2
  package.json
Due: none

fix: fix reponse interceptor
  dist/cjs/src/utils/request.cjs
  dist/esm/src/utils/request.js
  src/utils/request.ts
Due: prettier --write ., eslint --fix

1.0.3
  package.json
Due: none

chore(updates): update repo
  LICENSE
  __test__/lib/formData.test.ts
  index.ts
  jest.config.mjs
  package.json
  src/lib/formData.ts
  src/types/global.d.ts
  src/utils/request.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: updates
  .gitignore
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

feat(dom): add classNames function
  __test__/lib/dom.test.ts
  src/lib/dom.ts
Due: prettier --write ., eslint --fix

fix: fix `handleInvoke` returns
  src/lib/shard.ts
Due: prettier --write ., eslint --fix

chore: refactor code
  jest.config.mjs
  package.json
  src/lib/dom.ts
  src/lib/navigator.ts
  src/lib/request.ts
  src/lib/shard.ts
  src/types/helper.ts
  src/utils/request.ts
  src/utils/shard.ts
  src/utils/valid.ts
Due: prettier --write ., eslint --fix

chore: release version 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: release version v2.0.0
  .npmignore
  dist/cjs/index.cjs
  dist/cjs/src/lib/dom.cjs
  dist/cjs/src/lib/navigator.cjs
  dist/cjs/src/lib/request.cjs
  dist/cjs/src/lib/shard.cjs
  dist/cjs/src/utils/request.cjs
  dist/cjs/src/utils/shard.cjs
  dist/esm/index.js
  dist/esm/src/lib/dom.js
  dist/esm/src/lib/navigator.js
  dist/esm/src/lib/request.js
  dist/esm/src/lib/shard.js
  dist/esm/src/utils/request.js
  dist/esm/src/utils/shard.js
  dist/types/index.d.ts
  dist/types/src/lib/dom.d.ts
  dist/types/src/lib/navigator.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/lib/shard.d.ts
  dist/types/src/types/helper.d.ts
  dist/types/src/utils/request.d.ts
  dist/types/src/utils/shard.d.ts
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: update author
  LICENSE
  package.json
Due: none

feat: add css namespace function
  index.ts
  src/lib/css.ts
Due: prettier --write ., eslint --fix

style: format code
  __test__/lib/dom.test.ts
  __test__/lib/formData.test.ts
  index.ts
  rollup.config.js
  src/lib/css.ts
  src/lib/dom.ts
  src/lib/formData.ts
  src/types/global.d.ts
  src/utils/request.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: release version v2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add scss files
  package.json
  src/assets/scss/function.scss
  src/assets/scss/mixins.scss
  src/assets/scss/utils/string.scss
Due: none

fix[scss]: support scss export
  src/assets/scss/function.scss
  src/assets/scss/mixins.scss
  src/assets/scss/variable.scss
Due: none

chore: release version v2.0.2
  CHANGELOG.md
  NEW_CHANGELOG.md
  package.json
Due: prettier --write

perf: optimize function file import
  src/assets/scss/function.scss
Due: none

chore[playground]: init commit
  playground/.gitignore
  playground/README.md
  playground/app.vue
  playground/assets/index.scss
  playground/components/monaco-editor/helper.ts
  playground/components/monaco-editor/index.ts
  playground/components/monaco-editor/monaco-editor-components.vue
  playground/layouts/default.vue
  playground/nuxt.config.ts
  playground/package.json
  playground/pnpm-lock.yaml
  playground/public/favicon.ico
  playground/server/tsconfig.json
  playground/tsconfig.json
  playground/unocss.config.ts
  playground/utils/compile.ts
Due: prettier --write ., eslint --fix, prettier --write

chore
  playground/layouts/default.vue
  playground/layouts/scss.ts
  playground/nuxt.config.ts
  playground/package.json
  playground/pnpm-lock.yaml
Due: prettier --write ., eslint --fix

chore: optimize readme
  README.md
Due: prettier --write

feat: add namespace mixin
  src/assets/scss/mixins.scss
Due: none

fix: fix compile
  rollup.config.js
Due: prettier --write ., eslint --fix

chore: update deps
  package.json
Due: none

perf: optimize
  jest.config.mjs
  package.json
  rollup.config.js
  src/lib/request.ts
  src/lib/shard.ts
  src/utils/request.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: release version v2.0.3
  package.json
Due: none

fix: fix scss import path
  assets/scss/function.scss
  assets/scss/mixins.scss
  assets/scss/utils/string.scss
  assets/scss/variable.scss
  package.json
Due: none

chore: release version v2.0.4
  package.json
Due: none

fix: fix mixins scss
  assets/scss/mixins.scss
Due: none

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
  stylelint --fix: any of: **/*.{less,css}
