Repository cc-heart-dev/utils-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint  --fix"],
  "*.md": ["prettier --write"],
  "**/*.{less,css}": "stylelint --fix"
}

fix: fix reset
  jest.config.js
  src/index.html
  src/index.less
  tsconfig.json
Due: prettier --write ., eslint --fix, stylelint --fix

chore: add jest
  .husky/pre-push
Due: none

perf: alter jest.config.js
  jest.config.js
Due: prettier --write ., eslint --fix

perf: add @types/jest
  .gitignore
  package.json
  src/__test__/index.test.ts
Due: prettier --write ., eslint --fix

chore: add jest-dom
  package.json
Due: none

chore: remove jest
  .husky/pre-push
  package.json
Due: none

perf: delete jest demo
  src/__test__/index.test.ts
Due: prettier --write ., eslint --fix

build: alter dev to dev:tsc
  package.json
Due: none

chore: del jest.config.js
  jest.config.js
Due: prettier --write ., eslint --fix

chore: alter ts config
  tsconfig.json
Due: none

feat: add customEvent
  src/index.html
  src/index.ts
  src/scripts/customEvent.ts
Due: prettier --write ., eslint --fix

style: style code format
  src/index.html
  tsconfig.json
Due: none

chore: init commit
  .gitignore
  __test__/lib/dom.test.ts
  __test__/setupJestDom.ts
  dist/index.js
  dist/types/index.d.ts
  dist/types/src/lib/date.d.ts
  dist/types/src/lib/dom.d.ts
  dist/types/src/lib/navigator.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/utils/request.d.ts
  dist/types/src/utils/shard.d.ts
  index.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/lib/date.ts
  src/lib/dom.ts
  src/lib/navigator.ts
  src/lib/request.ts
  src/utils/request.ts
  src/utils/shard.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: add dts output
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write ., eslint --fix

chore: add license
  LICENSE
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: add readme
  README.md
Due: prettier --write

chore: reset repo
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .postcssrc
  .prettierignore
  .prettierrc
  .stylelintrc.json
  LICENSE
  README.md
  babel.config.js
  commitlint.config.js
  development.config.js
  package.json
  src/assets/css/normalize.css
  src/index.html
  src/index.less
  src/index.ts
  src/lib/fsloader.js
  src/lib/tool.js
  src/pages/home/index.ts
  src/scripts/customEvent.ts
  src/types/global.d.ts
  src/utils/fs-loader.ts
  src/utils/fsTool.ts
  tailwind.config.js
  tsconfig.json
Due: prettier --write ., eslint --fix, prettier --write, stylelint --fix

chore: add logger module
  dist/index.js
  dist/types/index.d.ts
  dist/types/src/lib/logger.d.ts
  index.ts
  package.json
  pnpm-lock.yaml
  src/lib/logger.ts
Due: prettier --write ., eslint --fix

chore: release version 0.0.2
  package.json
Due: none

fix: fix formData upload
  dist/index.js
  dist/types/src/lib/request.d.ts
  dist/types/src/utils/request.d.ts
  package.json
  src/lib/request.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

fix: fix formData upload params is empty
  dist/index.js
  src/lib/logger.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

chore: release version 0.0.5
  package.json
Due: none

fix: fix formData content-type
  src/utils/request.ts
Due: prettier --write ., eslint --fix

fix: fix postData params loss
  .vscode/launch.json
  dist/index.js
  package.json
Due: prettier --write ., eslint --fix

feat: add example
  example/index.html
  example/main.js
  example/package.json
  example/pnpm-lock.yaml
Due: prettier --write ., eslint --fix

chore: release version 0.0.7
  dist/index.js
  dist/types/src/lib/request.d.ts
  package.json
  src/lib/dom.ts
  src/lib/logger.ts
  src/lib/request.ts
  src/utils/request.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

refactor: refactor fetch request
  README.md
  dist/index.js
  dist/types/index.d.ts
  dist/types/src/lib/logger.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/utils/request.d.ts
  example/index.html
  example/main.js
  index.ts
  package.json
  src/lib/logger.ts
  src/lib/request.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix, prettier --write

feat: del date function
  index.ts
  package.json
  src/lib/date.ts
Due: prettier --write ., eslint --fix

chore: fix request bug
  dist/index.js
  dist/types/index.d.ts
  dist/types/src/lib/date.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/utils/request.d.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/lib/request.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

0.0.10
  package.json
Due: none

fix: fix bug
  src/lib/request.ts
Due: prettier --write ., eslint --fix

chore: update dist
  dist/index.js
Due: prettier --write ., eslint --fix

0.0.11
  package.json
Due: none

fix: fix typescript types error
  dist/types/src/lib/request.d.ts
  package.json
  pnpm-lock.yaml
  src/lib/request.ts
Due: prettier --write ., eslint --fix

0.0.12
  package.json
Due: none

chore: update package
  package.json
Due: none

fix: fix runtime env
  dist/index.js
  dist/types/src/lib/navigator.d.ts
  dist/types/src/lib/request.d.ts
  dist/types/src/lib/shard.d.ts
  dist/types/src/types/helper.d.ts
  dist/types/src/utils/request.d.ts
  jest.config.mjs
  package.json
  src/lib/navigator.ts
  src/lib/request.ts
  src/lib/shard.ts
  src/types/helper.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

0.0.13
  package.json
Due: none

0.0.14
  package.json
Due: none
